@import '../../responsive.scss';

nav {
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  a {
    transition: all 0.4s ease;

    @include sm {
      display: none;
    }

    &:hover {
      scale: 1.8s;
    }
  }

  .left {
    flex: 3;
    display: flex;
    align-items: center;
    gap: 50px;

    .logo {
      display: flex;
      align-items: center;
      gap: 2px;

      img {
        width: 60px;

        @include sm {
          width: 50px;
        }
      }

      .logotext {
        font-size: 28px;
        font-weight: bold;
        letter-spacing: 2px;
        text-shadow: 2px 4px 5px #c9c9c9;

        @include sm {
          font-size: 24px;
        }
      }
    }
  }

  .right {
    flex: 2;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background-color: #fcf5f3;
    height: 100%;

    @include md {
      background-color: transparent;
    }

    a {
      padding: 12px 24px;
      margin: 20px;
    }

    .user {
      display: flex;
      align-items: center;
      font-weight: bold;

      img {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        object-fit: cover;
        margin-right: 20px;
      }

      span {
        @include sm {
          display: none;
        }
      }

      .profile {
        padding: 12px 24px;
        background-color: #fece51;
        cursor: pointer;
        border: none;
        position: relative;

        .notification {
          position: absolute;
          background-color: red;
          top: -8px;
          right: -8px;
          color: white;
          border-radius: 50%;
          width: 25px;
          height: 25px;
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
    }

    .register {
      background: #fece51;
    }

    .menuIcon {
      display: none;
      z-index: 20;
      cursor: pointer;

      @include sm {
        display: inline;
        font-size: 28px;
        background: black;
        color: white;
        line-height: 0;
        padding: 4px;
        border-radius: 5px;
      }
    }

    .menu {
      position: absolute;
      top: 0;
      right: -100%;
      background-color: rgba(0, 0, 0, 0.932);
      color: white;
      height: 100vh;
      width: 100%;
      transition: all 1s ease;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      font-size: 24px;
      backdrop-filter: blur(50px);

      &.active {
        right: 0;
      }

      @include sm {
        a {
          display: inline;
        }
      }
    }
  }
}